p#notice = notice

dl.dl-horizontal
<% attributes.each do |attribute| -%>
  dt <%= attribute.human_name %>
  dd = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)
=<> '|'
= link_to 'Back', <%= index_helper %>_path
